/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 $color-text: #ffffff;
 $color-text_2: #ffffff80;
 $color-text_3: #212529;
 $color-header: #dc3545;


 li {

    a { 

        color: $color-text;

    }
    
    :hover {

            text-decoration: none;
        }

 }

 .navbar-brand {

    font-size: 1.8rem;

 }
 
 li:nth-child(8n) {

    a {
        
        color: $color-text_2;

    }

 }

 .footer-nav {

    padding: 0 1em;

 }

 .thead-color {

    background-color: $color-header;

 }

 table {

     width: 40% !important;

     thead {

            th {

                color: $color-text;

                a {

                    text-decoration: none;
                    color: $color-text;

                }

            }
            
            
        }
        
        tbody{
            
            td {
    
                color: $color-text_3;
    
                a {
    
                    text-decoration: none;
                    color: $color-text_3;

                    &:hover {

                        text-decoration: none;
                        
                    }

                }
            
                
            }

        }

 }

 .wrapper {
     min-height: 100vh;
     position: relative;
     padding-bottom: 100px;
     box-sizing: border-box;
 }

 footer {

    width: 100%;
    position: absolute;
    bottom: 0;
 }