<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav4">
    <ul class="navbar-nav m-auto">
      <li class="nav-item nav-link"><%= link_to '教材一覧', root_path, class: 'footer-nav' %></li>
      <li class="nav-item nav-link"><%= link_to 'ブログ', root_path, class: 'footer-nav' %></li>
      <li class="nav-item nav-link"><%= link_to 'YouTube', root_path, class: 'footer-nav' %></li>
    </ul>
  </div>
</nav>
