<nav class="navbar navbar-expand-sm navbar-dark bg-danger mb-2">
  <div class="navbar-brand">Gyakuten</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav4">
    <ul class="navbar-nav m-auto">
      <li class="nav-item nav-link"><%= link_to 'テキスト教材', root_path %></li>
    </ul>
  </div>
  <%= render 'search' %>
</nav>