<%# テーブル %>
<table class="table table-striped m-auto">
  <thead class="thead-color">
    <tr>
      <th scope="col">
        <%= link_to 'スキル', texts_path(id: @sort)  %>
      </th>
      <th scope="col">
        ジャンルhogehoge
      </th>
      <th scope="col">
        内容
      </th>
    </tr>
  </thead>
  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <th scope="row">
          <%= "Lv.#{text.id}" %>
        </th>
        <td>
          <%= text.genre %>
        </td>
        <td>
          <%= text.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>