<div class = "row　justify-content-center text-align-center">
  <div class = "col-8 col-md-8 m-auto ">
    <h1 class="h1 border-bottom"><%= @text.title %></h1>
    <%# マークダウンされたテキスト %>
    <%
    text =<<~TEXT
        #{@text.contents}
    TEXT
    %>
    <%# ここまで %>
    <%= markdown(text).html_safe %>
  </div>
</div>
<div id="button" class="text-center">
  <%= link_to '再復習', text_understandings_path(@text.id), method: :delete, class: "btn btn-primary mr-5" %>
  <%= link_to '理解した', text_understandings_path(@text.id), method: :patch, class: "btn btn-primary mr-5" %>
</div>
<script src="js/scroll.js"></script>